<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawXel"
        tools:targetApi="31">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".PetSelectionActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".SaveGameActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".DogColorActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".CatColorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Welcome"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HowToPlay"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Room"
            android:screenOrientation="landscape" />
        <activity
            android:name=".JumpGameActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".BathroomActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".CatchGame"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".AdminDashboardActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".UserDetailActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>
